*{
    box-sizing: border-box;
    align-content: center;
  }
   
  /* body{
    background-color:  #ddd;
  } */
  /* .box {
    padding: 0.75em;
    border: 1px solid #ddd;
    background-color: lightcoral;
    box-shadow: 2px 3px 3px #ddd;
    height: auto;
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
    
  } */
  div {
    background-color: grey;
    text-align: center;
  }
  
  header {
    background-color:grey;
    width: 100%;
  }
  h1{
    margin-bottom: 2px
  }
  /* label{
    color: white;
  } */
  
  header h1 {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-left: 4rem;
    color:black;
    padding-top: 1rem;
    padding-bottom:2rem;
    margin-bottom: 2rem;
  }
  
  header p {
    margin-top: 2px;
    padding-top: 0;
    font-size: 2rem;
    text-align: center;
    color: #183735;
  }
  
  .box input[type="text"] {
    width: 30%;
    padding: 12px 8px;
    border: none;
    font-size: 14px;
    color: grey;
    /* box-sizing: border-box; */
    /* border: 1px solid #ccc; */
  }
  
  .AddReg, .AddRegTwo {
    width: 12%;
    height: 5%;
    background-color: coral;
    color: white;
    /* padding: 12px 12px; */
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  .town, .townTwo {
    display: inline-block;
    font-size: 1.3rem;
  }
  
  .townName, .townNameTwo {
    width: 30%;
    height: 40px;
    color: blue;
    font: 2rem ;
    background-color: white;
    margin-right: 2rem;
  }
  
  .townName select {
    width: 100px;
  }
  
  .townNameTwo select {
    width: 100px;
  }
  
  
  .messageDisplayTwo  {
    display: Block;
    font-size: 30px;
    /* font-size: 1.3rem; */
    line-height: 2rem;
    color: orange;
  }
  
  .messageDisplay  {
    display: Block;
    font-size: 30px;
    /* font-size: 1.3rem; */
    line-height: 2rem;
    color: #49ff1c;
  }
  
  
   .messageDisplayTwo p,  .addDisplayTwo p {
  
    font-size: 10px;
    font-size: 1.3rem;
    line-height: 2rem;
    color: orange;
  }
  
  li{
    list-style-type: none;
  
  }
  
  ul {
    list-style-type: none;
  }
  .fitbox {
    display: inline-block;
    padding: 0.75em;
    /* border: 1px solid #ddd; */
    background-color: grey;
    /* box-shadow: 2px 3px 3px #ddd; */
     
      
     margin-bottom: 9em; 
    
  }
   li {
    text-align: center;
    float: left;
    background-color:yellow;
    border-radius: 10px;
    height: 30px;
    width: 25px;
    border: 3px solid #000;
   align-content: center;
    
   
  }
  
  li{
    width: 200px;
  }
  
  .clearBtn , .clearBtnTwo{
    width: 12%;
    height: 5%;
    background-color: grey;
  }
  
  .DisplayError h6{
    color : orange;
  }
  
  
  
    
    .fitbox{
      margin-left: 0;
    }
  
    footer {
      background-color:lightcoral;
      text-align: center;
    }
  
    a{
      color:lightcoral;
    }
  
  
  
  h5{
    margin-left: 1em;
  }
  
  li{
    display: block;
    margin-left: 4rem;
    }
  
  .regPlate {
    display: block;
    text-align: center;
    
    margin :0 auto;
  }
